PORT=3000
NODE_ENV=development

DB_HOST=334.132.40.145
DB_PORT=5432
DB_USERNAME=tsm
DB_PASSWORD=tsm@8808
DB_NAME=test-db
DB_SSL=false
DB_LOGGING=false

LOG_LEVEL=log

JWT_SECRET=change-me-in-production-use-long-random-string
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

SEED_DEFAULT_PASSWORD=MedTrack@123

CORS_ORIGINS=*
